body {  
	background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);; 
	color: #0004e3;
	font-family: 'Fondamento', cursive; 
	text-align: center;
}


h1 {
	font-size: 56px;
}


   img{ width: 500px; }

	
		